*
!Dockerfile
!Dockerfile.prebuilt
!prebuilt.lock.json
!prebuilt/
!prebuilt/*.sh
!prebuilt/*.json
!helpers.sha256
!guest/
!guest/*.sh
!guest/docker-daemon.json
!hook-launcher/
!hook-launcher/*.go
!egress-bridge/
!egress-bridge/*.go
!custom-install/
!custom-install/run.sh
!inputs/
!inputs/actions-runner.tar.gz
!inputs/tini
!inputs/emulation-licenses/
!inputs/emulation-licenses/*.txt
!host-trust-certificates/
!host-trust-certificates/*.crt
!trusted-ca-certificates/
!trusted-ca-certificates/*.crt
!host-trust-metadata/
!host-trust-metadata/host-trust-generation.json
!profiles/
!profiles/*.compatibility.json
